<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="fragments/resources :: head('Warehouse list')">
    <style>
        .circle {
            width: 30px;
            height: 30px;
            background-color: green;
            border-radius: 50%;
        }
    </style>
</head>

<body>

<header>
    <nav th:replace="fragments/navbar :: topNavbar('warehouse')"></nav>
</header>

<main class="container-fluid">

    <div class="container">
        <ul th:replace="fragments/navbar :: adminNavbar('warehouse')"></ul>
    </div>

    <div class="container custom-container my-4">
        <div class="mb-2">
            <h1 class="text-center">Game List</h1>
        </div>
        <div class="alert alert-info" th:if="${videogameList.size() == 0}">The list is empty</div>
        <div th:unless="${videogameList.size() == 0}">
            <table class="improved-table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">State</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="videogame : ${videogameList}">
                    <td th:text="${videogame.id}"></td>
                    <td th:text="${videogame.name}"></td>
                    <td th:text="${videogame.getAvailableCopies()}"></td>
                    <td th:style="${(videogame.getAvailableCopies() < refuelNeededLowerLimit.value ? 'color : #c90a1d' : '')
                                     + (videogame.getAvailableCopies() >= refuelNeededLowerLimit.value && videogame.getAvailableCopies() < refuelNeededUpperLimit.value ? 'color : #d4aa22' : '')
                                     + (videogame.getAvailableCopies() >= refuelNeededUpperLimit.value ? 'color : #0cc20f' : '')}">
                        <i class="fa-solid fa-circle"></i></td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-dark me-2"
                               th:href="@{/stocks/create(videogameId=${videogame.id})}">Refueling</a>
                            <a class="btn btn-primary" th:href="@{/videogames/show/{id}(id=${videogame.id})}"
                               role="button">Details</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container custom-container my-4">
        <div class="mb-2">
            <h1 class="text-center">Historic Supplies</h1>
        </div>
        <div class="alert alert-info" th:if="${stockList.size() == 0}">The list of stock is empty</div>
        <div th:unless="${stockList.size() == 0}">
            <table class="improved-table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Videogame</th>
                    <th scope="col">Supplier Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stock : ${stockList}">
                    <td th:text="${stock.id}"></td>
                    <td th:text="${stock.stockedVideogame.name}"></td>
                    <td th:text="${stock.supplierName}"></td>
                    <td th:text="${stock.quantity}"></td>
                    <td th:text="${stock.purchaseDate}"></td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/stocks/show/{id}(id=${stock.id})}"
                           role="button">Details</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container custom-container my-4">
        <div class="mb-2">
            <h1 class="text-center">Historic Sales</h1>
        </div>
        <div class="alert alert-info" th:if="${videogameList.size() == 0}">The list of stock is empty</div>
        <div th:unless="${videogameList.size() == 0}">
            <table class="improved-table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="purchase : ${purchaseList}">
                    <td th:text="${purchase.id}"></td>
                    <td th:text="${purchase.videogame.name}"></td>
                    <td th:text="${purchase.quantity}"></td>
                    <td th:text="${purchase.purchaseDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>

<footer th:replace="fragments/footer :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>

</body>
</html>