<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resources :: head('Warehouse list')"></head>

<body>
<nav th:replace="fragments/navbar :: topNavbar('warehouse')"></nav>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-3 mb-2">
            <h1>Game List</h1>
        </div>
        <div class="col-2" >
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-info" th:if="${videogameList.size() == 0}">The list is empty</div>
        <div class="col-12" th:unless="${videogameList.size() == 0}" >
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="videogame : ${videogameList}"
                     th:classappend="${(videogame.getAvailableCopies() < lowerBound ? 'table-danger' : '') + (videogame.getAvailableCopies() >= lowerBound && videogame.getAvailableCopies() <= middleBound ? 'table-warning' : '')}">
                    <td th:text="${videogame.id}"></td>
                    <td th:text="${videogame.name}"></td>
                    <td th:text="${videogame.getAvailableCopies()}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/stocks/create(videogameId=${videogame.id})}">Refueling</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col mb-2">
            <h1>Historic Supplies</h1>
        </div>
        <div class="alert alert-info" th:if="${stockList.size() == 0}">The list of stock is empty</div>
        <div class="col-12 " th:unless="${stockList.size() == 0}">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Videogame</th>
                    <th scope="col">Supplier Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="stock : ${stockList}">
                    <td th:text="${stock.id}"></td>
                    <td th:text="${stock.stockedVideogame.name}"></td>
                    <td th:text="${stock.supplierName}"></td>
                    <td th:text="${stock.quantity}"></td>
                    <td th:text="${stock.purchaseDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col mb-2">
            <h1>Historic Sales</h1>
        </div>
        <div class="alert alert-info" th:if="${videogameList.size() == 0}">The list of stock is empty</div>
        <div class="col-12 " th:unless="${videogameList.size() == 0}">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="purchase : ${purchaseList}">
                    <td th:text="${purchase.id}"></td>
                    <td th:text="${purchase.videogame.name}"></td>
                    <td th:text="${purchase.quantity}"></td>
                    <td th:text="${purchase.purchaseDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>