<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Edit a videogame')"></head>
<body>

<main class="container-fluid">
    <div class="container">
        <form class="row gy-3"
              id="edit-videogame"
              method="post"
              th:object="${videogame}"
              th:action="@{/videogames/edit/{id}(id=${videogame.id})}"
        >
            <div class="col-6">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" th:field="*{name}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <div class="col-6">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" id="description" th:field="*{description}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('text')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <div class="col-6">
                <label class="form-label">Price</label>
                <input type="number" class="form-control" id="price" th:field="*{price}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <div class="col-6">
                <label class="form-label">Image URL</label>
                <input type="text" class="form-control" id="image" th:field="*{photo}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('photo')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('image')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <div class="col-12">
                <h4>Categories</h4>
                <div class="form-check" th:each="type : ${typeList}">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            th:value="${type.id}"
                            th:id="|type-${type.id}|"
                            th:field="*{typeList}"
                    >
                    <label class="form-check-label" th:for="|type-${type.id}|" th:text="${type.name}"></label>
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-primary" th:href="@{/videogames/show/{id}(id=${videogame.id})}">Cancel</a>
            </div>
        </form>
    </div>
</main>

<th:block th:replace="fragments/resources :: script"></th:block>

</body>
</html>