<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resources :: head('VideoGame list')">
</head>

<body class="light-mode">
<nav th:replace="fragments/navbar :: topNavbar('videogames')"></nav>

<main class="container-fluid">
    <div class="container">
        <h1 class="text-center">Details</h1>
        <hr>
        <a class="btn btn-primary mb-2" th:href="@{/videogames/create}">New videogame</a>
        <div class="alert alert-info" th:if="${videogameList.size() == 0}">The list is empty</div>
        <table class="table table-secondary" th:unless="${videogameList.size() == 0}">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Photo</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="videogame : ${videogameList}">
                <td th:text="${videogame.name}"></td>
                <td th:text="${videogame.description}"></td>
                <td><span th:text="${videogame.price}"></span>€</td>
                <td>
                    <img th:src="@{${videogame.photo}}" alt="videogame photo" width="100" lenght="100" class="img-fluid">
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" th:href="@{/videogames/show/{id}(id=${videogame.id})}" role="button">Details</a>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" th:href="@{/videogames/edit/{id}(id=${videogame.id})}" role="button">
                        <i class="fa-solid fa-pencil"></i>  Edit
                    </a>
                </td>
                <td>
                    <form
                            th:action="@{/videogames/delete/{id}(id=${videogame.id})}"
                            method="post"
                            onsubmit="return confirm('Are you sure?')"
                    >
                        <button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<th:block th:replace="fragments/resources :: script"></th:block>

</body>
</html>