<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resources :: head('VideoGame details')"></head>

<body>
<nav th:replace="fragments/navbar :: topNavbar('videogames')"></nav>

<main class="container-fluid">
    <div class="container">
        <section>
            <h2 th:text="${videogame.name}"></h2>
            <hr>
            <p><b>Name:</b> <span th:text="${videogame.name}"></span></p>
            <p><b>Description:</b> <span th:text="${videogame.description}"></span></p>
            <p><b>Price:</b> <span th:text="${videogame.price}"></span> €</p>
            <p>
                <img th:src="@{${videogame.photo}}" alt="videogame image" class="img-fluid">
            </p>

            <h5>Types</h5>

            <div class="alert alert-info" th:if="${videogame.getTypeList().size() == 0}">This game has no types</div>
            <div th:unless="${videogame.getTypeList().size() == 0}" th:each="type : ${videogame.getTypeList()}">
                <p th:text="${type.name}"></p>
            </div>

            <div class="mt-3">
                <a th:href="@{/videogames}" class="btn btn-primary">
                    <i class="fa-solid fa-arrow-left"></i>  Back to list
                </a>
                <a class="btn btn-primary" th:href="@{/videogames/edit/{id}(id=${videogame.id})}" role="button">
                    <i class="fa-solid fa-pencil"></i>  Edit
                </a>
                <!--                <form-->
                <!--                        th:action="@{/videogames/delete/{id}(id=${videogame.id})}"-->
                <!--                        method="post"-->
                <!--                        onsubmit="return confirm('Are you sure?')"-->
                <!--                >-->
                <!--                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-trash-can"></i>-->
                <!--                    </button>-->
                <!--                </form>-->
            </div>
        </section>
    </div>
</main>

<th:block th:replace="fragments/resources :: script"></th:block>

</body>
</html>