<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="fragments/resources :: head('Home Page')"></head>

<body>

<header>
    <nav th:replace="fragments/navbar :: topNavbar('users')"></nav>
</header>

<main class="container-fluid mt-5">
    <div class="container">
        <div class="card-login border-0 bg-transparent rounded-lg">
            <div class="card-body py-5">
                <h1 class="text-center pb-3">Register</h1>
                <form class="d-flex flex-column align-items-center" th:action="@{/register/users/create}" method="post">

                    <div th:replace="fragments/CRUD :: form-floating(inputType='text', inputID='firstName', inputName='firstName', placeholder='First name', labelText='First name')"></div>

                    <div th:replace="fragments/CRUD :: form-floating(inputType='text', inputID='lastName', inputName='lastName', placeholder='Last name', labelText='Last name')"></div>

                    <div th:replace="fragments/CRUD :: form-floating(inputType='text', inputID='email', inputName='email', placeholder='Email', labelText='Email')"></div>

                    <div th:replace="fragments/CRUD :: form-floating(inputType='password', inputID='password', inputName='password', placeholder='Password', labelText='Password')"></div>

                    <div sec:authorize="hasAuthority('ADMIN')">
                        <h4>Roles</h4>
                        <div th:if="${roleSet.size() == 0}">There are no available user roles.</div>
                        <div th:unless="${roleSet.size() == 0}" class="form-check btn-group" th:each="role : ${roleSet}">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    th:value="${role.name}"
                                    th:id="|role-${role.name}|"
                                    th:field="*{roleSet}"
                            >
                            <label class="form-check-label" th:for="|role-${role.name}|" th:text="${role.name}"></label>
                        </div>
                    </div>
                    <!-- TODO : checkbox orizzontali a forma di bottone -->
                    <!--<div sec:authorize="hasAuthority('ADMIN')">
                        <h6 class="text-center">Roles</h6>
                        <div th:if="${roleSet.size() == 0}">There are no available user roles.</div>
                        <div th:unless="${roleSet.size() == 0}" class="btn-group" role="group">
                            <input
                                    th:each="role : ${roleSet}"
                                    type="checkbox"
                                    class="btn-check"
                                    role="group"
                                    th:value="${role.name}"
                                    th:id="|role-${role.name}|"
                                    th:field="*{roleSet}">
                            <label th:each="role : ${roleSet}"
                                   class="btn btn-outline-primary form-check-label"
                                   th:for="|role-${role.name}|"
                                   th:text="${role.name}"></label>
                        </div>
                    </div>-->
                    <p><small>Already have an account? <a th:href="@{/login}" class="link-info">Log in</a></small></p>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>

</body>
</html>

