<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="fragments/resources :: head('Home Page')"></head>

<body>

<header>
    <nav th:replace="fragments/navbar :: topNavbar('users')"></nav>
</header>

<main class="container-fluid mt-5">
    <div class="container">
        <div class="card-login border-0 bg-transparent rounded-lg">
            <div class="card-body py-5">
                <h1 class="text-center">Register</h1>
                <form class="d-flex flex-column align-items-center" th:action="@{/register/users/create}" method="post">
                    <div class="form-group">
                        <label class="form-label" for="firstName">First Name</label>:
                        <input type="text" id="firstName" name="firstName" autofocus="autofocus" class="form-control"/> <br />
                        <!--<div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></li>
                            </ul>
                        </div>-->
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="lastName">Last Name</label>:
                        <input type="text" id="lastName" name="lastName" autofocus="autofocus" class="form-control"/> <br />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="email">Email</label>:
                        <input type="email" id="email" name="email" autofocus="autofocus" class="form-control"/> <br />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Password</label>:
                        <input type="password" id="password" name="password" class="form-control"/> <br />
                    </div>
                    <div sec:authorize="hasAuthority('ADMIN')">
                        <h4>Roles</h4>
                        <div th:if="${roleSet.size() == 0}">There are no available user roles.</div>
                        <div th:unless="${roleSet.size() == 0}" class="form-check btn-group" th:each="role : ${roleSet}">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    th:value="${role.name}"
                                    th:id="|role-${role.name}|"
                                    th:field="*{roleSet}"
                            >
                            <label class="form-check-label" th:for="|role-${role.name}|" th:text="${role.name}"></label>
                        </div>
                    </div>
                    <!-- TODO : checkbox orizzontali a forma di bottone -->
                    <!--<div sec:authorize="hasAuthority('ADMIN')">
                        <h6 class="text-center">Roles</h6>
                        <div th:if="${roleSet.size() == 0}">There are no available user roles.</div>
                        <div th:unless="${roleSet.size() == 0}" class="btn-group" role="group">
                            <input
                                    th:each="role : ${roleSet}"
                                    type="checkbox"
                                    class="btn-check"
                                    role="group"
                                    th:value="${role.name}"
                                    th:id="|role-${role.name}|"
                                    th:field="*{roleSet}">
                            <label th:each="role : ${roleSet}"
                                   class="btn btn-outline-primary form-check-label"
                                   th:for="|role-${role.name}|"
                                   th:text="${role.name}"></label>
                        </div>
                    </div>-->
                    <p><small>Already have an account? <a th:href="@{/register}" class="link-info">Log in</a></small></p>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>

</body>
</html>

