<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/resources :: head('Users list')"></head>

<body>

<header>
    <nav th:replace="fragments/navbar :: topNavbar('users')"></nav>
</header>

<main class="container-fluid">
    <div class="container mt-3">
        <div class="row">
            <div class="col-5"></div>
            <div class="col">
                <h2>Your purchases</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <div class="card text-bg-dark mt-3" style="max-width: 18rem;">
                    <div class="card-header d-flex justify-content-between">
                        <div>
                            <h3 class="card-title mt-1">Dati utente</h3>
                        </div>

                        <div class="mt-2">
                            <a class="btn btn-primary btn-sm" th:href="@{/register/users/edit/{id}(id=${user.id})}"
                               role="button">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Name: <span th:text="|${user.firstName} ${user.lastName}|"></span></p>
                        <p class="card-text">Email: <span th:text="${user.email}"></span></p>
                        <p class="card-text">Role: <span th:each="role, iterStat : ${user.getRoleSet}">
                                                 <span th:text="${role.name}"></span>
                                                 <span th:if="${not iterStat.last}"> / </span></span>
                        </p>
                        <a class="btn btn-primary" sec:authorize="hasAuthority('ADMIN')" th:href="@{/register/users}">Return
                            to users list</a>
                        <a class="btn btn-primary" sec:authorize="!isAuthenticated()" th:href="@{/}">Return home
                            page</a>
                    </div>
                </div>
            </div>

            <!-- Tabella dello storico degli acquisti dell'utente -->
            <div class="col">
                <table class="mt-3" th:if="${user.purchaseList.size() > 0}">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date Purchase</th>
                        <th>Quantity</th>
                        <th>Videogame</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pur : ${user.purchaseList}">
                        <td th:text="${pur.id}"></td>
                        <td th:text="${pur.purchaseDate}"></td>
                        <td th:text="${pur.quantity}"></td>
                        <td th:text="${pur.videogame.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>

</body>
</html>