<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/resources :: head('Users Show')"></head>
<body>
<header>
    <nav th:replace="fragments/navbar :: topNavbar('register')"></nav>
</header>
<main class="container-fluid">
    <div class="container">
        <h1><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></h1>
        <h3>L'utente <span th:text="${user.firstName}"></span> ( <span th:each="role, iterStat : ${user.getRoleSet}">
            <span th:text="${role.name}"></span>
            <span th:if="${not iterStat.last}"> / </span>
        </span> ) ha effettuato la registrazione il giorno <span>TOT</span></h3>
        <h2>Dati dell'utente : </h2>
        <h3>Email : <span th:text="${user.email}"></span></h3>
        <h3>Password : <span th:text="${user.password}"></span></h3>
        <a class="btn btn-primary me-3" th:href="@{/register/users}">Return Back</a>
    </div>
</main>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>