<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="fragments/resources :: head('Stock history')"></head>

<body>

<header>
    <nav th:replace="fragments/navbar :: topNavbar('stocks')"></nav>
</header>

<main class="container-fluid">
    <div class="container custom-container">
        <ul th:replace="fragments/navbar :: stockNavbar('create')"></ul>
        <h1>Create</h1>
        <form
                id="create-stock"
                th:action="@{/stocks/create}"
                th:object="${stock}"
                method="post"
                class="row g-3"
        >
            <input type="hidden" th:field="*{purchaseDate}">
            <div class="col-6">
                <label class="form-label" for="supplierName">Name Supplier</label>
                <input class="form-control" type="text" id="supplierName" th:field="*{supplierName}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('supplierName')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('supplierName')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <label class="form-label" for="price">Price</label>
                <input class="form-control" type="number" id="price" th:field="*{price}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <label class="form-label" for="quantity">Quantity</label>
                <input class="form-control" type="number" id="quantity" th:field="*{quantity}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('quantity')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('quantity')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <label class="form-label" for="type">Available videogames</label>
                <select id="type" class="form-select" th:field="*{stockedVideogame}">
                    <option value="" >-- Select a videogame --</option>
                    <option th:each="videogame : ${videogameList}"
                            th:value="${videogame.id}"
                            th:text="${videogame.name}"
                            th:selected="${videogame.id == stockedVideogame?.id}"></option>
                </select>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-primary" th:href="@{/stocks}">Cancel</a>
            </div>

        </form>
    </div>
</main>

<th:block th:replace="fragments/resources :: script"></th:block>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>