<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resources :: head('Stock history')"></head>

<body>

<header>
    <nav th:replace="fragments/navbar :: topNavbar('stocks')"></nav>
</header>

<main class="container-fluid">
    <div class="container">
        <ul th:replace="fragments/navbar :: stockNavbar('list')"></ul>

        <section>
            <h1 class="text-center pb-4">Stock history</h1>

            <div class="alert alert-info" th:if="${stockList.size() == 0}">There are no recent stock.</div>
            <div th:unless="${stockList.size() == 0}">
                <table class="table improved-table table-bordered border-primary">
                    <thead>
                        <tr>
                            <th scope="col">Purchase date</th>
                            <th scope="col">Supplier name</th>
                            <th scope="col">Price each</th>
                            <th scope="col">Videogame's name</th>
                            <th scope="col">Items purchased</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="stock : ${stockList}">
                            <th th:text="${stock.purchaseDate}"></th>
                            <td th:text="${stock.supplierName}"></td>
                            <td><span th:text="${stock.price}"></span>€</td>
                            <td th:text="${stock.getStockedVideogame().getName()}"></td>
                            <td>
                                <div class="d-flex justify-content-between">

                                    <span th:text="${stock.quantity}"></span>

                                    <div class="d-flex">
                                        <a class="btn btn-primary btn-sm me-2" th:href="@{/stocks/edit/{id}(id=${stock.id})}"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <form
                                                method="post"
                                                th:action="@{/stocks/delete/{id}(id=${stock.id})}"
                                                onsubmit="return confirm('Are you sure?')"
                                        >
                                            <button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>

    </div>
</main>

<th:block th:replace="fragments/resources :: script"></th:block>

</body>
</html>
