<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="fragments/resources :: head('Edit Limit')"></head>

<body>

<header>
    <nav th:replace="fragments/navbar :: topNavbar('limits')"></nav>
</header>

<main class="container-fluid">
    <div class="container custom-container">
        <h1 class="text-center">Edit the limit</h1>
        <hr>

        <form class="row gy-3"
              id="edit-limit"
              method="post"
              th:object="${limit}"
              th:action="@{/limits/edit/{id}(id=${limit.name})}"
        >
            <div class="col-6">
                <label class="form-label" for="value">Price</label>
                <input required type="number" class="form-control" id="value" th:field="*{value}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('value')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('value')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="col-8">
                <button class="btn btn-primary" type="submit">Save</button>
                <a class="btn btn-danger" th:href="@{/limits}"><span><i class="fa-solid fa-arrow-left"></i></span> Return back</a>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>