<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="fragments/resources :: head('Limits')"></head>

<body>

<header>
    <nav th:replace="fragments/navbar :: topNavbar('limits')"></nav>
</header>

<main>

    <div class="container">
        <ul th:replace="fragments/navbar :: stockNavbar('limits')"></ul>
    </div>

    <div class="container custom-container">
        <div class="mb-2">
            <h1 class="text-center">Limit values of the web site</h1>
        </div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Lower Bound</th>
                <th>Middle Bound</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${limit.id}"></td>
                <td th:text="${limit.videogameLowerBound}"></td>
                <td th:text="${limit.videogameMiddleBound}"></td>
                <td>
                    <a class="btn btn-dark" th:href="@{/limits/edit/{id}(id=${limit.id})}" role="button">
                        <i class="fa-solid fa-pencil"></i>  Edit
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>

</body>
</html>