<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/resources :: head('Store')"></head>

<body>

<header>
    <nav th:replace="fragments/navbar :: topNavbar('store')"></nav>
</header>

<main>
<div>
    <div class="container custom-container">
        <h1 class="text-center">Classifica dei videogiochi più venduti nell'ultimo mese</h1>
        <table>
            <thead>
            <tr>
                <td>#</td>
                <th>Name</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="purchase, rowStat : ${purchasesRanking}">
                <td th:text="${rowStat.index + 1}"></td>
                <td th:text="${purchase.key}"></td>
                <td th:text="${purchase.value}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


    <div class="container mt-4">
        <div class="row">
            <div th:each="videogame : ${videogames}" class="col-md-4 mb-4 d-flex align-items-center">
                <div class="card mx-auto">
                    <a th:href="@{'/videogames/show/' + ${videogame.id}}">
                        <img th:src="${videogame.photo}" class="card-img-top" alt="Game Image" style="max-height: 500px;">
                        <!--Grandezze img +- 810x1080 (questo rateo)-->
                    </a>
                    <div class="card-body text-center">
                        <h5 th:text="${videogame.name}" class="card-title"></h5>
                        <p th:text="'Prezzo: ' + ${videogame.price} + €" class="card-text"></p>
                        <div class="mt-auto mb-2">
                            <form th:action="@{'/store/purchase?videogameId=' + ${videogame.id}}" method="post" class="d-flex align-items-center">
                                <label for="quantity" class="mr-2">Quantità:</label>
                                <input type="number" name="quantity" value="1" min="1" required id="quantity" class="form-control form-control-sm mr-2" />
                                <button type="submit" class="btn btn-sm">Acquista</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->

<footer th:replace="fragments/footer :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>

</body>

</html>
