<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/resources :: head('Store')"></head>

<body>

<header>
    <nav th:replace="fragments/navbar :: topNavbar('store')"></nav>
</header>

<main>

    <div>
        <div class="container">

            <div class="mt-4 mb-4">
            <h1 class="text-center">Classifica dei videogiochi più venduti nell'ultimo mese</h1>
            </div>

            <div class="row">
                <!-- Immagine a sinistra -->
                <div class="col-md-6">
                    <img src="https://freepngimg.com/download/anime/104923-sekiro-pic-download-hq.png" alt="Sekiro Character" style="max-width: 100%; height: auto;">
                </div>

                <!-- Tabella a destra -->
                <div class="col-md-6">
                    <table>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="purchase, rowStat : ${purchasesRanking}">
                            <td th:text="${rowStat.index + 1}"></td>
                            <td>
                                <i th:switch="${rowStat.index}">
                                    <i th:case="0" class="fas fa-trophy gold"></i>
                                    <i th:case="1" class="fas fa-trophy silver"></i>
                                    <i th:case="2" class="fas fa-trophy bronze"></i>
                                    <i th:case="*"></i>
                                </i>
                                <span th:text="${purchase.key}"></span>
                            </td>
                            <td th:text="${purchase.value}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<hr>

    <div class="mt-4 mb-4">
        <h1 class="text-center">Store</h1>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div th:each="videogame : ${videogames}" class="col-md-4 mb-4 d-flex align-items-center">
                <div class="card mx-auto">
                    <a th:href="@{'/videogames/show/' + ${videogame.id}}">
                        <img th:src="${videogame.photo}" class="card-img-top" alt="Game Image" style="max-height: 500px;">
                        <!--Grandezze img +- 810x1080 (questo rateo)-->
                    </a>
                    <div class="card-body text-center">
                        <h5 th:text="${videogame.name}" class="card-title"></h5>
                        <p th:text="'Prezzo: ' + ${videogame.price} + €" class="card-text"></p>
                        <div class="mt-auto mb-2">
                            <form th:action="@{'/store/purchase?videogameId=' + ${videogame.id}}" method="post" class="d-flex align-items-center">
                                <label for="quantity" class="mr-2">Quantità:</label>
                                <input type="number" name="quantity" value="1" min="1" required id="quantity" class="form-control form-control-sm mr-2" />
                                <button type="submit" class="btn btn-sm">Acquista</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="custom-container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 mt-4 text-center">
                <div class="d-flex align-items-center justify-content-center">
                    <!-- Immagine del proplayer a sinistra -->
                    <img src="https://gosettings.com/wp-content/uploads/2021/05/axSL5Ohh0Eew7VWavcPXsH.png" alt="Proplayer" style="max-width: 500px; max-height: 500px;">

                    <!-- Recensione e stelle a destra -->
                    <div class="ml-4">
                        <h3>Raccomandazione di KennyS</h3>
                        <p>Sempre soddisfatto degli acquisti presso questo store di videogiochi. Ampia scelta, prezzi competitivi e un servizio clienti impeccabile. Consiglio vivamente a tutti gli appassionati di gaming!</p>

                        <!-- Immagine a 5 stelle -->
                        <img src="https://www.siadd.it/wp-content/uploads/2020/01/5-star-png-download-1102754-free-transparent-graybeals-all-5-star-rating-png-900_620.png" alt="5 stelle" style="width: 80px; height: auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>


</main>

<!-- Footer -->

<footer th:replace="fragments/footer :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>

</body>

</html>
