
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Purchase Success')"></head>
<body>
<header>
    <nav th:replace="fragments/navbar :: topNavbar('store')"></nav>
</header>
<main>
    <div class="container mt-4">
        <div class="alert alert-success" role="alert">
            Acquisto completato con successo! Grazie per il tuo ordine.
        </div>
    </div>

    <div class="container mt-4 text-center">
        <img src="https://media2.giphy.com/media/RJaiws3GnVHcybdk0l/giphy.gif?cid=ecf05e47gcvljj98dymqlq1v139rtrc5szgjgvvt40nzu6ci&ep=v1_gifs_related&rid=giphy.gif&ct=s" alt="GIF di conferma">
    </div>

    <div class="container">
        <a href="/store" class="btn btn-dark btn-sm mt-3 ml-2">
            <i class="fa-solid fa-arrow-left"></i> Torna al negozio
        </a>
    </div>


</main>
<footer th:replace="fragments/footer :: footer"></footer>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>