<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Show List')"></head>

<body>
<h2>Videogiochi disponibili</h2>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Prezzo</th>
        <th>Descrizione</th>
        <th>Categorie</th>
        <th>Quantità desiderata</th>
        <th>Azione</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="videogame : ${videogames}">
        <td th:text="${videogame.id}">ID</td>
        <td th:text="${videogame.name}">Nome</td>
        <td th:text="${videogame.price}">Prezzo</td>
        <td th:text="${videogame.description}">Descrizione</td>
        <td>
            <span th:each="category : ${videogame.typeList}" th:text="${category.name} + ' '"></span>
        </td>
        <td>
            <form method="post" action="/store/purchase">
                <input type="hidden" name="videogameId" th:value="${videogame.id}" />
                <input type="number" name="quantity" min="1" required />
                <button type="submit">Acquista</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Videogame</th>
            <th>Date</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lmp : ${lastMonthPurchases}">
            <td th:text="${lmp.id}"></td>
            <td th:text="${lmp.videogame.name}"></td>
            <td th:text="${lmp.purchaseDate}"></td>
            <td th:text="${lmp.quantity}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Videogame</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${entryList}">
            <td th:text="${entry.key}"></td>
            <td th:text="${entry.value}"></td>
        </tr>
        </tbody>
    </table>
</div>


<th:block th:replace="fragments/resources :: script"></th:block>

</body>
</html>