<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/security/tags">

<body>

<div th:fragment="form-fields(label, type, id, field, fieldName)" class="col-6">
    <label class="form-label" th:for="${id}" th:text="${label}"></label>
    <input class="form-control"
           th:type="${type}"
           th:id="${id}"
           th:name="${fieldName}">
    <div class="invalid-feedback" th:if="${#fields.hasErrors(fieldName)}">
        <ul>
            <li th:each="err : ${#fields.errors(fieldName)}" th:text="${err}"></li>
        </ul>
    </div>
</div>

<div th:fragment="form-floating(inputType, inputID, inputName, placeholder, labelText)" class="form-group form-floating">
    <input th:type="${inputType}" th:id="${inputID}" th:name="${inputName}" autofocus="autofocus" class="form-control" th:placeholder="${placeholder}"/> <br />
    <label class="form-label" th:for="${inputID}" th:text="${labelText}"></label>
</div>

</body>

</html>