<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<footer th:fragment="footer" class="bg-dark text-light mt-5 p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Link Utili</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Offerte</a></li>
                    <li><a href="#">Preordini</a></li>
                    <li><a href="#">Prossime Uscite</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Assistenza</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Centro Assistenza</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contattaci</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Social</h5>
                <ul class="list-unstyled">
                    <li><i class="fa-brands fa-square-facebook me-1"></i><a href="#">Facebook</a></li>
                    <li><i class="fa-brands fa-square-twitter me-1"></i><a href="#">Twitter</a></li>
                    <li><i class="fa-brands fa-instagram me-1"></i><a href="#">Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Riscatta una Gift Card</h5>
                <!-- Aggiungi qui il codice per la sezione "Riscatta una Gift Card" -->
            </div>
        </div>
    </div>
</footer>
</html>