<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/resources :: head('Footer')"></head>

<body>

    <footer th:fragment="footer" class="bg-dark text-light pt-4 pb-2">
        <div class="container">
            <div class="row px-5">
                <div class="col">
                    <h5>Link Utili</h5>
                    <ul class="list-unstyled">
                        <li><a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Home</a></li>
                        <li><a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Offerte</a></li>
                        <li><a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Preordini</a></li>
                        <li><a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Prossime Uscite</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h5>Assistenza</h5>
                    <ul class="list-unstyled">
                        <li><a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Centro Assistenza</a></li>
                        <li><a class="link-offset-2 link-underline link-underline-opacity-0" href="#">FAQ</a></li>
                        <li><a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Contattaci</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h5>Social</h5>
                    <ul class="list-unstyled">
                        <li><i class="fa-brands fa-square-facebook me-1"></i> <a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Facebook</a></li>
                        <li><i class="fa-brands fa-square-twitter me-1"></i> <a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Twitter</a></li>
                        <li><i class="fa-brands fa-instagram me-1"></i> <a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

<th:block th:replace="fragments/resources :: script"></th:block>

</html>