<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/security/tags">

<body>
<nav th:fragment="topNavbar(area)" class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="#">
            <img src="https://media.tenor.com/2a4KThsm4YgAAAAi/gaming-game-on.gif" alt="Game Store Logo" style="max-width: 60px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#top-navbar" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="top-navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link rounded-pill"
                       th:classappend="${area == 'home' ? 'active' : ''}"
                       th:href="@{/}">Home Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill"
                       th:classappend="${area == 'videogames' ? 'active' : ''}"
                       th:href="@{/videogames}">Videogames</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill"
                       th:classappend="${area == 'types' ? 'active' : ''}"
                       th:href="@{/types}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill"
                       th:classappend="${area == 'store' ? 'active' : ''}"
                       th:href="@{/store}">Shop</a>
                </li>

                <li class="nav-item">
                    <a
                            class="nav-link"
                            th:classappend="${area == 'stocks' ? 'active' : ''}"
                            th:href="@{/stocks}"
                            sec:authorize="hasAuthority('ADMIN')"
                    >Stocks</a>
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link"
                            th:classappend="${area == 'warehouse' ? 'active' : ''}"
                            th:href="@{/warehouse}"
                            sec:authorize="hasAuthority('ADMIN')"
                    >Warehouse</a>
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link"
                            th:classappend="${area == 'limits' ? 'active' : ''}"
                            th:href="@{/limits}"
                            sec:authorize="hasAuthority('ADMIN')"
                    >Limits</a>
                </li>
            </ul>
        </div>
        <!-- Bottone per cambiare modalità -->
        <button id="toggle-mode-btn" onclick="toggleMode()" title="Cambia modalità">☀️</button>
        <!-- Carrello a destra -->
        <div class="navbar-nav ml-auto">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle border-0" style="background-color: transparent;" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user">
                            <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
                        </i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark  dropdown-menu-start">
                        <li><a sec:authorize="!isAuthenticated()" class="dropdown-item" href="/login">Login</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        <li><a sec:authorize="!isAuthenticated()" class="dropdown-item" href="/register">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- navbar per lo stocks -->

<ul th:fragment="stockNavbar(area)" class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link"
           th:classappend="${area == 'list' ? 'active' : ''}"
           th:href="@{/stocks}">List
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           th:classappend="${area == 'create' ? 'active' : ''}"
           th:href="@{/stocks/create}">Create
        </a>
    </li>
    <!-- Altri elementi per lo stock -->
</ul>

</body>

</html>